{% extends 'base.html.twig' %}

{% block title %}Edit Type{% endblock %}

{% block body %}
    <h1 class="text-center">Edit Type : {{ type.nom }}</h1>

    <div class="card">
            {{ include('type/_form.html.twig', {'button_label': 'Update'}) }}

                <a class="btn btn-secondary mr-2" href="{{ path('app_type_index') }}">back to list</a>

                {{ include('type/_delete_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
